<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tag }}</title>
</head>
<body>
    <a href="{{ url_for('main') }}" style="text-decoration: none"><b><i>Main Page</i></b></a>
    <h1>Posts by Tag "{{ tag }}":</h1>

    {% if tag.posts %}
    {% for post in tag.posts %}
        <p>
            {{ post.text }}
            {% for tag in post.tags %}
            <a href="{{ url_for('tag', pk=tag.id) }}" style="text-decoration: none"><b><i>{{ tag }}</i></b></a>

            {% endfor %}
        </p>
    {% endfor %}
    {% else %}
    <p>No Posts Yet, Make the First!</p>
    {% endif %}

</body>
</html>